{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{%endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
<p>
    <form class="form-inline" method="post" action="{% url 'submit_bug' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>  Submit Bug</button>
    </form>
    
{% for bug in bugs %}
    <a href="{% url 'thread' bug.id %}">
    <div class="row row-flex">
        <div class="col-sm-1"><h1>{{ bug.credits }}</h1></div>
        <div class="col-sm-8"><h1>{{ bug.title }}</h1><foo>{{ bug.user }}</foo></div>
        <div class="col-sm-3"></div>
    </div>
    </a>
{% endfor %}
</p>
{% endblock %}