{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{%endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
    <div class="row row-flex">
        <div class="col-sm-1"><h1>{{ feature.credits }}</h1></div>
        <div class="col-sm-8"><h1>{{ feature.title }}</h1><foo>{{ feature.user }}</foo></div>
        <div class="col-sm-3">
            {% if user.is_authenticated %}
                <form class="form-inline" method="post" action="{% url 'updoot_feature' %}">
                    {% csrf_token %}
                    <input type="hidden" name="feature_id" value="{{ feature.id }}" />
                    <input type="range" min="1" max="{{ user.profile.credits }}" value="1" id="creditSlider" name="credit"> <span id="creditDisplay">1</span> / <span>{{ user.profile.credits }}</span><br />
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  UpVote</button>
                    <h5>cost: 1 credit</h5>
                </form>
            {% endif %}
        </div>
    </div>
    {{ feature.description }}
{% endblock %}


{% block head_js %}
<script>
var slider = document.getElementById("creditSlider");
var output = document.getElementById("creditDisplay");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
{% endblock %}