<h1>How does it work?<h1/>
<h1>The App.<h1/>
<h1>Feature & Bug Tracker</h1>
<p>
    Got a bug to report? You can do so simply.<br />
    You need only <a href="{% url 'register' %}">Sign Up</a> for an account and post in the BugFix portion of the Feature and Bug Forum.<br />
</p>
<p>
    If you want to submit a feature request, things are handled a little differently.<br />
    You still need to <a href="{% url 'register' %}">Sign Up</a> for an account, but you will need credits to request a feature.
</p>
<p>
    In order to find the further development of the Unicorn Attractor App, we use a credit system.<br />
    On signing up, you get 50 credits, at the end of beginning of each month you get topped back up to 50 credits (So don't be afraid to use them).<br />
    These credits can be used to upvote the Features and BugFixes that matter to you.<br />
    You can pledge any of your credits to a post, so if you think a feature or bug deserves all of your free credits? Pledge away.<br />
    However, if you want to request a feature, you will have to spend more.<br />
    To request a feature costs 100 credits, credits can be bought from the store at any time.
</p>