{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div class="col-sm-6">Bugs:
    {% for bug in bugs %}
        <div class="row row-flex">
            <a href="{% url 'bug-thread' bug.id %}">
            <div class="col-sm-1"><h1>{{ bug.credits }}</h1></div>
            <div class="col-sm-8"><h1>{{ bug.title }}</h1><foo>{{ bug.user }}</foo></div>
            </a>
            <div class="col-sm-3">
                {% if user.is_authenticated %}
                    <form class="form-inline" method="post" action="{% url 'updoot_bug' %}">
                        {% csrf_token %}
                        <input type="hidden" name="bug_id" value="{{ bug.id }}" />
                        <input type="hidden" name="credit" value="1" />
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  UpVote</button>
                        <h5>cost: 1 credit</h5>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-sm-6">Features:
    {% for feature in features %}
        <div class="row row-flex">
            <a href="{% url 'thread' feature.id %}">
            <div class="col-sm-1"><h1>{{ feature.credits }}</h1></div>
            <div class="col-sm-8"><h1>{{ feature.title }}</h1><foo>{{ feature.user }}</foo></div>
            </a>
            <div class="col-sm-3">
                {% if user.is_authenticated %}
                    <form class="form-inline" method="post" action="{% url 'updoot_feature' %}">
                        {% csrf_token %}
                        <input type="hidden" name="bug_id" value="{{ feature.id }}" />
                        <input type="hidden" name="credit" value="1" />
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  UpVote</button>
                        <h5>cost: 1 credit</h5>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}